@{
    ViewData["Title"] = "Subject";
}
@model SchoolSystem.WebApplication.Entities.SubjectEntity


@using (Html.BeginForm("Create", "Subject", FormMethod.Post))
{
    <div class="row">
        @Html.LabelFor(m => m.Name) @Html.TextBoxFor(m => m.Name)
    </div>
    <div class="row">
        <div class="col-3">
            @Html.LabelFor(m => m.Credits)
        </div>
        
        <div class="col-9">
            @Html.EditorFor(model => model.Credits, new
                    {
                        htmlAttributes = new
                        {
                            type = "number",
                            min = "1",
                            max = "10",
                            @class = "form-control",
                            @id = "amount",
                        }
                    })
        </div>
        

    </div>
    <div id="slider-range-min" class="mt-3 mb-3"></div>
    <div class="row">
        <div class="col-2"> @Html.LabelFor(m => m.HeadTeacher)</div>
        <div class="col-10"> @Html.DropDownListFor(m => m.HeadTeacherId, new SelectList(@ViewBag.Teachers, "Id", "FirstName"), new {@class = "form-control"}) </div>
       
    </div>
    

    <input type="submit" value="Submit strongly type synchronous form" />
}