@{
    ViewData["Title"] = "Subject";
}

@model SchoolSystem.WebApplication.Entities.LessonEntity


@using (Html.BeginForm("Create", "Lesson", FormMethod.Post))
{
    <div class="row">
        @Html.LabelFor(m => m.Day) @Html.TextBoxFor(m => m.Day)
    </div>
    <div class="row">
        <div class="col-2"> @Html.LabelFor(m => m.StartTime)</div>
        <div class="col-10">
@Html.TextBoxFor( model => model.StartTime, "{0:HH:mm:ss}", new { 
       @class = "form-control timecontrol", type = "time" })
            </div>
    </div>
    
    <div class="row">
        <div class="col-2"> @Html.LabelFor(m => m.EndTime)</div>
      <div class="col-10">
     @Html.TextBoxFor( model => model.EndTime, "{0:HH:mm:ss}", new { 
            @class = "form-control timecontrol", type = "time" })
                 </div>
       
    </div>

    <div class="row">
        <div class="col-2"> @Html.LabelFor(m => m.Subject)</div>
        <div class="col-10"> @Html.DropDownListFor(m => m.SubjectId, new SelectList(@ViewBag.Subjects, "Id", "Name"),  new {@class = "form-control"}) </div>
       
    </div>
    <input type="submit" value="SUBMIT" />
}